<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mayas Portfolio</title>
    <link rel="stylesheet" href="/layout.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre-icons.css"
    />
  </head>
  <body>

    <header class="navbar">
      <div class="p-2">
        <section class="navbar-center">
          <a href="/">
            <img id="logo" src="potfolio-logo.png" alt="" />
          </a>
        </section>
      </div>

      <div class="p-centered">
        <section class="navbar-section">
          <a href="/" class="btn btn-link">Start</a>
          <a href="/works" class="btn btn-link">Works</a>
          <a href="/about" class="btn btn-link">About</a>
          <a href="/contact" class="btn btn-link">Contact</a>
          <a href="/reviews" class="btn btn-link">Reviews</a>

          <div id="admin-section">
            {{#if session.isLoggedIn}}
              <a href="/create-work" class="btn btn-link">Create</a>
              <a href="/logout" action="/logout" class="btn btn-link">Log out</a>
            {{else}}
              <a href="/login" class="btn btn-link">Log in</a>
            {{/if}}
          </div>
        </section>
      </div>

      <div class="bg-secondary">
        <div class="divider">
        </div>
      </div>
    </header>

    {{{body}}}
    <footer>
      <p id="footer-text">
        Maya's Portfolio<br />
        Maya Kjellén<br />
        New Media Design Jönköping University<br />
        kjma21sc@student.ju.se<br />
        instagram:@mayakjellen/@drwnout

      </p>

    </footer>
  </body>

</html>