<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mayas Portfolio</title>
    <link rel="stylesheet" href="/layout.css"> 
    <link rel="stylesheet" href="link/spectre.min.css" />   
</head>
<body>
   
<header>
    <p id = "logo">Maya's Portfolio</p>
</header>
 
    <a href="/">Start</a>
    <a href="/works">Works</a>
</nav>
 
{{{body}}}
 
 
 
<footer>Footer</footer>
 
</body>
</html>