<div class="grid">

  <div class="content">
    <img id="farmor-image" src="farmor.jpg" alt="">
  </div>

  <div class="sidebar">

    <h1 class="headings">C O N T A C T</h1>

    <div id="contact-links">

      <div>Tel: 0738013439</div>

      <div>
        E-mail:
        <a href="mayakjellen@gmail.com">maya.kjellen@gmail.com</a>
      </div>

      <div>
        Instagram:
        <a href="https://www.instagram.com/mayakjellen/">@mayakjellen</a>
        /
        <a href="https://www.instagram.com/drwnout/">@drwnout</a>

        <p id="contact-description">Feel free to contact me if you have any questions!</p>
      </div>
    </div>
  </div>
</div>