<h1>Contact</h1>

<div id="contactLinks">

    <div>Tel: 0738013439</div>

<div>
    E-mail:
    <a href="mayakjellen@gmail.com">maya.kjellen@gmail.com</a>
    </div>

<div>
    Instagram:
    <a href="https://www.instagram.com/mayakjellen/">@mayakjellen</a>
    </div>

</div>
