<h1 class="headings">Log in</h1>

{{#if failedToLogin}}
  <p id="login-fail">Wrong username or password, please try again.</p>
{{/if}}

<form class="admin-forms" action="/login" method="post">

  <input id="username" type="text" name="username" placeholder="Username" />

  <input type="password" name="password" placeholder="Password" />

  <input class="form-buttons" type="submit" value="Login" />

</form>