<h1>Log in</h1>

{{#if failedToLogin}}
	<p id = "loginFail">Wrong username or password, please try again.</p>
{{/if}}

<form action="/login" method="post">
	
		<input id="username" type="text" 
        name="username"
        placeholder="Username">
	
		<input type="password"
        name="password"
        placeholder="Password">
	
	<input id="loginButton" type="submit" value="Login">
	
</form>