<h1 class="headings">R E V I E W S</h1>

<form class="review-form" action="" method="post">

  Name:
  <input type="text" name="name" placeholder="name" />
  Comment:
  <input type="text" name="comment" placeholder="comment" />

  <input class="formButtons" type="submit" value="Post!" />

</form>

{{#if reviews.length}}

  <ul>
    {{#each reviews}}
      <li>
        {{name}}:
        {{comment}}
        <form class="inline-form" action="/delete-review/{{id}}" method="POST">
          <input class="formButtons" type="submit" value="DELETE" />
        </form>

        <form class="inline-form" action="/update-review/{{id}}">
          <input class="formButtons" type="submit" value="UPDATE" />
        </form>

      </li>
    {{/each}}
  </ul>

{{/if}}