<h1>Maya's Portfolio</h1>


<h3>Welcome!</h3>

<p class="aboutText">
    Hi! My name is Maya Kjellén and this is my portfolio!
</p>


{{#if guestInputErrors.length}}
    <ul>
        {{#each guestInputErrors}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
{{/if}}


{{#if guests.length}}

    <ul id="guestsList">
        {{#each guests}}
            <li> {{name}} </li>
        {{/each}}
    </ul>

{{else}}

    <p>At the moment we have no guests to display</p>

{{/if}}





<form id="guestbookForm" action="" method="post">
	
		Name: <input type="text" name="name">
	
	<input class="formButtons" type="submit" value="Add me!">
	
</form>