<div class="grid">

  <div class="sidebar">
    <h1 class="headings">Maya's Portfolio</h1>

    <h3>Welcome!</h3>

    <p id="start-about-text">
      Hej! My name is Maya Kjellén and this is my portfolio! Check out my works,
      leave a review and add yourself to the guestbook!
    </p>

    {{#if guestInputErrors.length}}
      <ul>
        {{#each guestInputErrors}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </div>

  <div class="content">
    <form id="guestbook-form" action="" method="post">

      <h2>Guestbook</h2>

      Name:
      <input type="text" name="name" placeholder="name" />

      <input class="form-buttons" type="submit" value="Add me!" />

    </form>

    {{#if guests.length}}

      <ul id="guest-list">
        {{#each guests}}
          <li>
            {{name}}
            <form
              class="inline-form"
              action="/delete-guest/{{id}}"
              method="POST"
            >
              <input class="form-buttons" type="submit" value="Delete" />
            </form>

            <a href="/update-guest/{{id}}" class="form-buttons">Edit</a>

          </li>
        {{/each}}
      </ul>

    {{/if}}
  </div>
</div>