<h2 id="updateGuestbookHeader">Update Guestbook</h2>

<form id="updateGuestbookForm" action="" method="POST">
	
		Name: <input type="text" name="name" placeholder="name" value="{{guest.name}}">
	
	<input class="formButtons" type="submit" value="Update!">
	
</form>
