<h1>Update Review</h1>

<form
  id="update-review-form"
  action="/update-review/{{reviews.id}}"
  method="post"
>

  Name:
  <input type="text" name="name" placeholder="name" value="{{reviews.name}}" />
  Comment:
  <input
    type="text"
    name="comment"
    placeholder="comment"
    value="{{reviews.comment}}"
  />

  <input class="form-buttons" type="submit" value="Update!" />

</form>

 {{#if reviewInputErrors.length}}
  <ul id="error-display">
    {{#each reviewInputErrors}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
{{/if}}