<h1>Update Review</h1>

<form class="review-form" action="/update-review/{{reviews.id}}" method="post">

  Name:
  <input type="text" name="name" placeholder="name" value="{{reviews.name}}" />
  Comment:
  <input
    type="text"
    name="comment"
    placeholder="comment"
    value="{{reviews.comment}}"
  />

  <input class="formButtons" type="submit" value="Update!" />

</form>