<h2 id="updateGuestbook-header">Update Guestbook</h2>

<form id="updateGuestbook-form" action="" method="POST">

  Name:
  <input type="text" name="name" placeholder="name" value="{{guest.name}}" />

  <input class="form-buttons" type="submit" value="Update!" />

</form>

{{#if guestInputErrors.length}}
      <ul>
        {{#each guestInputErrors}}
          <li id="guest-error-messages">{{this}}</li>
        {{/each}}
      </ul>
    {{/if}}