<h1>Works</h1>


{{#if works.length}}
    <ul>
        {{#each works}}
            <li> {{id}} {{title}} </li>
        {{/each}}
    </ul>

{{else}}

    <p>At the moment we have no works to display</p>

{{/if}}


