<div class="grid">
  <div class="content">
    <h1 id="works-heading">W O R K S</h1>

{{#if works.length}}
  <ul id="worksList">
    {{#each works}}
      <li> <a href="/works/{{id}}"> {{title}} </a></li>
    {{/each}}
  </ul>

{{else}}

  <p>At the moment we have no works to display</p>

{{/if}}
</div>

<div class="sidebar">
  <img id="soulquest-image" src="soulquest.jpg" alt="image of astronaut">
  <img id="jin-image" src="jin.jpg" alt="Drawing of Jin from BTS">

</div>

</div>