* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(74, 12, 74);
}

header {
    background-color: rgb(217, 236, 255);
    height: 80px;
    padding-top: 10px;
   }


.navbar-section {
    padding-top: 10px;
    padding-left: 600px;
}

.adminForms {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100px;
    padding-left: 760px;
}

#logo {
    padding-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    
}

#postButton {
    margin-top: 20px;
    padding-right: 7px;
    padding-left: 7px;
    padding-bottom: 2px;
    background-color: rgb(217, 236, 255);
    border-radius: 8px;
    border: none;
}


footer {
   background-color: rgb(95, 118, 150);
   height: 500px;
   margin-top: 90px;
}

#footerText {
    width: 150px;
    color: rgb(180, 217, 249);
    margin-left: 100px;
    padding-top: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3 {
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
}

#worksList {
    margin-left: 720px;
    margin-top: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    color: pink;
    list-style-type: armenian;
}

#adminSection {
    margin-left: 150px;
}

#username {
    margin-bottom: 20px;
}

.formButtons {
    margin-top: 20px;
    padding-right: 7px;
    padding-left: 7px;
    padding-bottom: 2px;
    background-color: rgb(217, 236, 255);
    border-radius: 8px;
    border: none;
}

#errorDisplay {
    margin-left: 650px;
    font-style: italic;
    color: red;
}

#contactLinks {
    margin-left: 670px;
}

.aboutText {
    width: 400px;
    margin-left: 580px;
}

#loginFail {
    color: red;
    font-style: italic;
}

#guestbookForm {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    margin-left: 50px;
}


#commentForm {
    width: 100px;
    margin-left: 970px;
}

#workLink {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.CRUDButtons {
    margin-left: 727px;
    margin-top: 20px;
    padding-right: 7px;
    padding-left: 7px;
    padding-bottom: 2px;
    background-color: rgb(217, 236, 255);
    border-radius: 8px;
    border: none;
}


.smallDeleteButton {
    background-color: pink;
    border: none;
    border-radius: 9px;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 70px;
}


#guestList {
    width: 100px;
    margin-left: 80px;
    list-style-type: none;
}

#updateGuestbookForm {
    margin-left: 60px;
    margin-top: 40px;
}

#updateGuestbookHeader {
    margin-left: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 30px;
}

.headings {
    color: pink;
}

.workAttributes {
    color: rgb(124, 47, 183);
    font-weight: 200;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#logoutButton {
    margin-left: 728px;
    margin-top: 50px;
    background-color: pink;
    border: none;
    border-radius: 8px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 3px;
}

.inline-form{
    display: inline;
}