* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(232, 227, 232);
}

header {
    background-color: rgb(217, 236, 255);
    height: 80px;
    padding-top: 10px;
   }

h2 {
   padding-left: 20px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar-section {
    padding-top: 10px;
    padding-left: 150px;
}

