* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(74, 12, 74);
}

header {
    background-color: rgb(217, 236, 255);
    height: 80px;
    padding-top: 10px;
   }

h2 {
   padding-left: 20px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar-section {
    padding-top: 10px;
    padding-left: 600px;
}

.adminForms {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100px;
    padding-left: 760px;
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

#postButton {
    margin-top: 20px;
    padding-right: 7px;
    padding-left: 7px;
    padding-bottom: 2px;
    background-color: rgb(217, 236, 255);
    border-radius: 8px;
    border: none;
}


footer {
   background-color: rgb(54, 73, 98);
   height: 500px;
   margin-top: 90px;
}

#footerText {
    width: 150px;
    color: rgb(180, 217, 249);
    margin-left: 100px;
    padding-top: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3 {
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
}

#worksList {
    margin-left: 650px;
}

#adminSection {
    margin-left: 150px;
}

#username {
    margin-bottom: 20px;
}

.formButtons {
    margin-top: 20px;
    padding-right: 7px;
    padding-left: 7px;
    padding-bottom: 2px;
    background-color: rgb(217, 236, 255);
    border-radius: 8px;
    border: none;
}

#errorDisplay {
    margin-left: 650px;
    font-style: italic;
    color: red;
}

#contactLinks {
    margin-left: 670px;
}

.aboutText {
    width: 400px;
    margin-left: 580px;
}

#loginFail {
    color: red;
    font-style: italic;
}

#guestbookForm {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    margin-left: 50px;
}


#commentForm {
    width: 100px;
    margin-left: 970px;
}

#workLink {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
